@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Shopper</h1>
    <p>Online Store <a href="https://docs.microsoft.com/aspnet/core">10 000+ product</a>.</p>
</div>
